<div class="wide">
    <carousel [interval]="carInterval" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let sl of slides; let index=index">
            <img [src]="sl.img" [alt]="sl.imgAlt">
            <div class="carousel-caption">
                <h1 *ngIf="sl.hText">{{ sl.hText }}</h1>
                <h1 *ngIf="sl.hHtml" class="html-inner" [innerHtml]="sl.hHtml"></h1>
                <p   *ngIf="sl.text">{{ sl.text }}</p>
                <div *ngIf="sl.html" class="html-inner" [innerHtml]="sl.html"></div>
            </div>
        </slide>
    </carousel>
</div>
