@import '~@nebular/theme/styles/global/bootstrap/buttons';

.xds-project-card .icon {
  padding: 0.75rem 0;
  font-size: 1.75rem;
}

nb-card-body {
  padding: 0;
}

nb-card-footer {
  text-align: right;
}

.fa-big {
  font-size: 20px;
  font-weight: bold;
}

.fa-size-x2 {
  font-size: 20px;
}

th span {
  font-weight: 100;
}

th label {
  font-weight: 100;
  margin-bottom: 0;
}

tr.info>th {
  vertical-align: middle;
}

tr.info>td {
  vertical-align: middle;
}

.btn-outline-danger.btn-xds {
  color: #ff4c6a;
  &:focus {
    color: white;
  }
}

.btn-outline-info.btn-xds {
  color: #4ca6ff;
  &:focus {
    color: white;
  }
}
