<div class="row">
  <div class="col-12">
    <nb-card-body>
      <div class="col-9">
        <nb-actions size="medium">
          <nb-action>
            <button (click)="add()">
                <i class="nb-plus"></i>
                <span>Add new SDK</span>
            </button>
          </nb-action>
        </nb-actions>
      </div>
      <div class="col-3 right">
        <nb-actions size="medium">
          <nb-action>
            <nb-search type="rotate-layout"></nb-search>
          </nb-action>
        </nb-actions>
      </div>
    </nb-card-body>
  </div>
  <div class="col-md-6 col-lg-6" *ngFor="let sdk of (sdks$ | async)">
    <xds-sdk-card [sdk]="sdk"></xds-sdk-card>
  </div>
</div>
