[Unit]
Description=XDS Agent

[Service]
EnvironmentFile=-/etc/default/xds-agent
ExecStart=/opt/AGL/xds/agent/xds-agent

[Install]
WantedBy=multi-user.target
